
/* Achtergrondkleur voor de gehele menu-pagina */
#menu {
  background-color: #ffffff;
}
.hidden {
  display: none;
}

#menu li {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  /*border-radius: 8px; */
  margin-bottom: 1px;
}

#menu li div {
  display: flex;
  align-items: center;
}

#menu li span {
  margin-left: 10px;
  font-size: 16px;
  display: flex;
  align-items: center; /* Dit zorgt ervoor dat de tekst verticaal gecentreerd is */
}

#menu li:last-child {
  margin-left: auto;
  margin-bottom: 0; /* Verwijder de marge voor het laatste item */
}

#menu ul {
  list-style-type: none;
  padding: 0;
}


#menu li:hover {
  background-color: #e9e9ef; /* Lichtere kleur voor hover-effect */
}

.flex-container {
  display: flex;
  align-items: center; /* Zorgt ervoor dat items verticaal gecentreerd zijn */
}


/* Stijlen voor de container van de SVG (cirkel) */
.icon-container-birthdays {
  width: 44px; /* Grootte van de cirkel */
  height: 44px; /* Grootte van de cirkel */
  border-radius: 50%; /* Maakt de cirkel rond */
  background-color: #d32f8b; /* Achtergrondkleur van de cirkel */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Voorkomt dat de inhoud buiten de container uitsteekt */
}

.icon-container-birthdays svg {
  width: 28px; 
  height: auto; /* Behoudt de aspectverhouding */
}

.icon-container-soon {
  width: 44px; /* Grootte van de cirkel */
  height: 44px; /* Grootte van de cirkel */
  border-radius: 50%; /* Maakt de cirkel rond */
  background-color: #ff7f00; /* Achtergrondkleur van de cirkel */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Voorkomt dat de inhoud buiten de container uitsteekt */
}

.icon-container-soon svg {
  width: 28px; 
  height: auto; /* Behoudt de aspectverhouding */
}

.buttons-container {
  height: 75px; /* Stel de hoogte in, pas aan indien nodig */
  display: flex;
  align-items: center;
  gap: 10px;
  position: sticky;
  top: 0; /* Geen ruimte aan de bovenkant */
  background-color: white; /* Of een andere passende achtergrondkleur */
  z-index: 10;
  margin-bottom: 15px; /* Ondermarge, pas aan indien nodig */
}

.scrollable-content {
  /*overflow-y: auto; */
  max-height: calc(100vh - [totale hoogte van vaste inhoud]px);
}

#back-to-menu {
  width: 55px; 
  height: 55px; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  box-sizing: border-box;
}

#back-to-menu {
  width: 44px;
  height: 44px;
  padding: 0;
}

#back-to-menu .back-button-icon {
  height: 40px;
  width: 24px;
}

#add-person-button {
  margin-left: auto; /* Zet de Add knop aan de rechterkant */
  width: 70x; /* Zorgt voor een cirkelvorm */
  height: 70px; /* Zorgt voor een cirkelvorm */
  border-radius: 50%; /* Maakt de knop rond */
  background-color: #2c78fa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: all 0.3s ease; /* Gladde overgang voor hover effect */
}

.add-person-button-icon {
  height: 30px; /* Zorg dat het icoon kleiner is dan de knop */
  width: 30px;
  transition: all 0.3s ease;
}

#add-person-button:hover .add-person-button-icon {
  width: 35px; /* Breedte van het icoon wordt 35px bij hover */
  height: 35px; /* Hoogte van het icoon wordt 35px bij hover */
}

.back-to-top-container {
  margin-top: 10px; /* Ruimte boven de knop */
  display: flex;
  justify-content: flex-end; /* Uitlijnen naar de rechterkant */
}

#back-to-top {
  width: 30px; /* Diameter van de cirkel */
  height: 30px; /* Diameter van de cirkel */
  border-radius: 50%; /* Maakt het een perfecte cirkel */
  background-color: #c8c8cf; /* Achtergrondkleur van de knop */
  display: flex;
  align-items: center;
  justify-content: center;
  border: none; 
  cursor: pointer;
  padding: 0;
}

.back-to-top-icon {
  width: 20px; /* Breedte van het icoon */
  height: 30px; /* Hoogte van het icoon */
}

      .form-wrapper {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }

      .alert {
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
      }

      .hint {
        color: #004085;
        background-color: #cce5ff;
        border-color: #b8daff;
      }

      .help {
        color: #383d41;
        background-color: #f4f5f5;
        border-color: #e4e5e7;
      }

      .footer {
        margin-top: auto;
      }

      .hidden {
        display: none !important;
      }

      .field {
        margin-bottom: 15px;
      }
      .flex {
        display: flex;
        gap: 10px; 
      }
      .homey-form-input[type="date"] {
        padding: 8px;
        border-radius: 5px;
        border: solid 1px #ccc;
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin: 0 1px;
        line-height: 24px;
      }

      .homey-table {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
      }

      .homey-table tr th, .homey-table tr td {
        padding: 5px;
      }

      .homey-table button {
        padding: 5px 10px;
        font-size: 15px;
        margin: 0 3px 5px 0;
      }
      .homey-form-checkbox-text {
      color: inherit; 
      }
      .flex {
        display: flex;
      }

      .flex button:not(:first-child) {
        margin-left: 5px;
      }
      /* Verdeling met 2 velden op een rij */
.flex-2 {
  display: flex;
  gap: 10px; /* Voeg hier de gewenste tussenruimte in pixels toe */
}

/* Beide velden in de rij nemen de helft van de beschikbare ruimte in */
.field-2:nth-child(1),
.field-2:nth-child(2) {
  flex: 1;
}

/* Verdeling met 3 velden op een rij */
.flex-3 {
  display: flex;
  gap: 10px; /* Voeg hier de gewenste tussenruimte in pixels toe */
}

/* Het eerste veld in de rij neemt 1/2 van de beschikbare ruimte in, de andere twee elk 1/4 */
.field-3:nth-child(1) {
  flex: 2;
}

.field-3:nth-child(2),
.field-3:nth-child(3) {
  flex: 1;
}

.homey-form-input {
  padding: 8px;
  border-radius: 5px;
  border: solid 1px #ccc;
  width: 100%;
  box-sizing: border-box;
  line-height: 24px;
  position: relative; /* Voor dropdown-pijl */
}

.homey-form-input[type="text"]::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000; /* Kleur van de pijl */
}

/* Zorg ervoor dat de category-dropdown dezelfde breedte heeft als het invoerveld */
.homey-form-group {
    position: relative;
}

.category-dropdown {
    position: absolute;
    top: 100%; /* Direct onder het invoerveld */
    left: 0;
    width: 100%; /* Dezelfde breedte als het invoerveld */
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ddd;
    border-top: none;
    z-index: 1000;
    display: none; /* Verborgen totdat geactiveerd */
}

/* Stijlen voor items binnen de dropdown */
.category-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.category-text {
    flex-grow: 1;
    margin-right: 10px; /* Ruimte tussen tekst en knop */
    overflow: hidden;
    text-overflow: ellipsis; /* Voegt ellips toe als de tekst te lang is */
    white-space: nowrap; /* Voorkomt tekstterugloop */
}

/* Responsive design voor kleinere schermen */
@media (max-width: 600px) {
    .category-dropdown {
        width: calc(100% - 20px); /* 100% van de ouder minus wat marge */
        margin: 0 10px; /* Voeg marge toe om niet tegen de randen van het scherm te plakken */
    }

    .category-item {
        padding: 8px; /* Kleinere padding voor items */
    }

    .category-text {
        font-size: 14px; /* Kleinere tekstgrootte */
    }

    .category-delete-btn {
        width: 35px; /* Kleinere knop, zorg dat deze niet te klein wordt */
        height: 35px;
    }

    .category-delete-btn svg {
        width: 20px; /* Pas de grootte van SVG aan binnen de knop */
        height: 20px;
    }
  }
 
.category-dropdown div {
  padding: 10px;
  cursor: pointer;
}

.category-dropdown div:hover {
  background-color: #f0f0f0;
}

/* Stijlen specifiek voor de delete knop */
.category-delete-btn {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid rgb(231, 50, 50);
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0 10px #333;
  overflow: hidden;
  transition: .3s;
}

.category-delete-btn:hover {
  background-color: rgb(245, 207, 207);
  transform: scale(1.2);
  box-shadow: 0 0 4px #111;
  transition: .3s;
}

.category-delete-btn svg {
  color: rgb(231, 50, 50);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
}

.category-delete-btn:focus svg {
  opacity: 0;
  transition: .3s;
}

.category-delete-btn span {
  width: 150px;
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -50%);
  color: rgb(231, 50, 50);
  font-weight: 600;
  transition: .3s;
}

.category-delete-btn:focus {
  width: 150px;
  height: 50px;
  transition: .3s;
}

.category-delete-btn:focus span {
  opacity: 1;
  transition: .3s;
}

/* Voeg deze stijlen toe om de rest van je elementen correct te stijlen */
.category-dropdown div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  text-align: center;
  margin-top: 20px;
}

.custom-link {
  color: inherit;
  text-decoration: none;
}

.custom-link:hover {
  color: #ef35aa;
  text-decoration: none;
}

.custom-link-reverse {
  color: inherit;
  text-decoration: none;
}

.custom-link-reverse:hover {
  color: #ef35aa;
  text-decoration: none;
}

#back-to-menu {
  width: 44px;
  height: 44px;
  padding: 0;
  color: #99a0a7; /* Toegevoegd */
}

#back-to-menu .back-button-icon {
  height: 40px;
  width: 24px;
}
.dark #back-to-menu,
.dark #back-to-menu .back-button-icon {
  color: #99a0a7; /* Kleur behouden in dark mode */
}


.light-gray-title {
  color: #99a0a7;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}
.light-gray-title .badge {
  padding: 0;
  margin-left: 3px;
  margin-bottom: 2px;
}

/* 66. Dark Theme */

.dark .colored-icon.yellow {
  background-color: rgba(229, 179, 45, 0.2);
}
.dark .colored-icon.blue {
  background-color: rgba(0, 145, 222, 0.25);
}
.dark .colored-icon.green {
  background-color: rgba(25, 180, 142, 0.2);
}
.dark .colored-icon.pink {
  background-color: rgba(226, 32, 95, 0.2);
}
.dark .colored-icon.orange {
  background-color: rgba(255, 156, 60, 0.2);
}
.dark .colored-icon.red {
  background-color: rgba(216, 66, 46, 0.3);
}
.dark .colored-icon.purple {
  background-color: rgba(145, 70, 218, 0.3);
}
.dark .light-gray-title {
  color: #8191a6;
}
.dark .toolbar-bottom:before,
.ios .dark .toolbar-bottom-ios:before,
.md .dark .toolbar-bottom-md:before {
  background-color: rgba(255, 255, 255, 0.15);
}
.dark .info-block-icon {
  background-color: var(--background-color);
  color: #8191a6;
}
.dark .info-block p {
  color: #7f91a7;
}
.dark .button.color-dark {
  background-color: #0ee9b3;
  color: #181c22;
}
.dark .button.color-light-gray {
  background-color: #102733;
}
.dark .post-horizontal {
  box-shadow: none;
  background-color: var(--light-gray);
}
.dark .infinite-scroll-demo .post-horizontal .post-image {
  background-color: var(--text-color);
}
.dark .notification {
  background: var(--light-gray);
}
.dark .panel {
  background-color: var(--light-gray);
}
.dark .sheet-modal {
  background: var(--light-gray);
}
.dark .segmented.segmented-strong .button.tab-link-active {
  color: #181c22;
}
.dark .text-editor {
  border: 1px solid #363d43;
}
.dark .text-editor-toolbar {
  border-bottom: 1px solid #363d43;
}
.dark .badge.color-light-gray {
  color: var(--background-color);
}
.dark .stepper.color-light-gray .stepper-button-minus::after,
.dark .stepper.color-light-gray .stepper-button-plus::before,
.dark .stepper.color-light-gray .stepper-button-plus::after {
  background-color: var(--background-color);
}
.dark .card .card-category.bg-color-white {
  color: var(--background-color);
}
.dark .card {
  box-shadow: none;
}
.dark .card-image-footer {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgb(24 24 24 / 80%) 100%);
}
.dark .card-author-footer {
  background-color: var(--light-gray);
}
.dark .card-big-footer {
  background-color: var(--light-gray);
}
.dark .card-movie-rating {
  background-color: var(--background-color);
  color: #fff;
}
.dark .badge.color-black {
  background-color: #ffffff;
  color: var(--background-color);
}
.dark .post-horizontal .post-category {
  color: #0ee9b3;
}
.dark .stock-item {
  background-color: var(--light-gray);
  box-shadow: none;
}
.dark .rating-bg {
  background-color: var(--light-gray);
}
.dark .rating-block-total {
  background-color: var(--light-gray);
}
.dark .ticket-fill::before,
.dark .ticket-fill::after {
  background-color: var(--background-color);
}
.dark .ticket-fill {
  background: #0ee9b3;
}
.dark .ticket-fill:not(.ticket-image) i,
.dark .ticket-fill:not(.ticket-image) .ticket-discount,
.dark .ticket-fill:not(.ticket-image) .ticket-description,
.dark .ticket-fill:not(.ticket-image) .ticket-text {
  color: #000 !important;
}
.dark .ticket {
  background-image: radial-gradient(circle at 0 50%, rgba(0, 0, 0, 0) 0.7em, var(--light-gray) 0), radial-gradient(circle at 100% 50%, rgba(0, 0, 0, 0) 0.7em, var(--light-gray) 0);
}
.dark .timeline-item-inner {
  background: transparent;
}
.dark .timeline-item-divider:after,
.dark .timeline-item-divider:before {
  background: #fff;
}
.dark .information-block:not(.success-message, .error-message) h2,
.dark .information-block:not(.success-message, .error-message) p {
  color: #1e2b47;
}
.dark .link-banner.dark-theme-green {
  background-color: #0ee9b3;
}
.dark .link-banner.dark-theme-green .link-banner-title,
.dark .link-banner.dark-theme-green i,
.dark .link-banner.dark-theme-green .link-banner-subtitle,
.dark .link-banner.dark-theme-green.link-chevron::before {
  color: #000;
}
.dark .link-banner.bg-color-dark {
  background-color: var(--light-gray) !important;
}
.dark .category-item img {
  filter: brightness(70%);
}
.dark .profile-stat {
  border-right: 1px solid #2d3d4a;
}
.dark .profile-stat:last-child {
  border-right: none;
}
.dark .album-stat {
  border-right: 1px solid #2d3d4a;
}
.dark .album-stat:last-child {
  border-right: none;
}
.dark .profile-online {
  border: 2px solid var(--background-color);
}
.dark .edit-profile-image {
  border: 1px solid var(--background-color);
}
.dark .search-grid a {
  border-top: 1px solid #2d3d4a;
}
.dark .search-grid a:nth-child(1),
.dark .search-grid a:nth-child(2) {
  border-top: none;
}
.router-transition-f7-dive-forward,
.router-transition-f7-dive-backward {
  background: var(--background-color);
}
.bg-color-primary {
  background-color: var(--f7-theme-color) !important;
}
.dark .panel .profile-header .profile-image .profile-online {
  border: 2px solid var(--light-gray);
}
.ios .dark .message-received .message-bubble {
  background-color: var(--light-gray);
}
.dark .ticket-fill.ticket-image {
  background: none;
}

/* 66. RTL Languages */

html[dir="rtl"] .album-grid img {
  margin-right: 0;
  margin-left: 10px;
}

html[dir="rtl"] .detailed-list .item-link .item-inner {
  padding-right: 0;
  padding-left: 15px;
  margin-left: 0;
}
html[dir="rtl"] .post-horizontal .post-image {
  margin-left: 0;
  margin-right: 10px;
}
html[dir="rtl"] .button-icon-left i {
  margin-right: 0;
  margin-left: 5px;
}
html[dir="rtl"] .colored-icon {
  margin-right: 0;
  margin-left: 10px;
}
html[dir="rtl"] .navbar a .arrow-back {
  transform: rotate(180deg);
  padding-right: 0;
  padding-left: 3px;
}
html[dir="rtl"] input[type="text"],
html[dir="rtl"] input[type="email"],
html[dir="rtl"] input[type="password"] {
  padding: 0 15px 0 0px;
}
html[dir="rtl"] textarea {
  padding: 15px 15px 0 15px;
}
html[dir="rtl"] .messagebar-area textarea {
  padding: 6px 16px;
}
html[dir="rtl"] .button img {
  margin-right: 0;
  margin-left: 7px;
}
html[dir="rtl"] .single-post-author > img {
  margin-right: 0;
  margin-left: 12px;
}
html[dir="rtl"] .single-post-author .author-follow {
  margin-right: auto;
  margin-left: inherit;
}
html[dir="rtl"] .comment > img {
  margin-right: 0;
  margin-left: 15px;
}
html[dir="rtl"] .comment-date {
  margin-right: 6px;
  margin-left: 0;
}
html[dir="rtl"] .comment-reply {
  margin-right: 60px;
  margin-left: 0;
}
html[dir="rtl"] .movie-infos {
  margin-right: 15px;
  margin-left: 0;
}
html[dir="rtl"] .link-chevron::before {
  display: none;
}
html[dir="rtl"] .link-banner img,
html[dir="rtl"] .link-banner i {
  margin-right: 0;
  margin-left: 10px;
}
html[dir="rtl"] .simple-list .item-inner {
  padding-left: 0;
}
html[dir="rtl"] .rating-block-star i {
  margin-right: 3px;
  margin-left: 0;
}
html[dir="rtl"] .album-stat:first-child,
html[dir="rtl"] .profile-stat:first-child {
  border-right: none;
}
html[dir="rtl"] .album-stat:last-child,
html[dir="rtl"] .profile-stat:last-child {
  border-right: 1px solid #e2e3e5;
}
html[dir="rtl"] .settings-list .item-after {
  padding-left: 20px;
  padding-right: 0;
}
html[dir="rtl"] .settings-list .item-after:has(.toggle) {
  padding-left: 0;
}
html[dir="rtl"] .search-grid a {
  text-align: right;
}
html[dir="rtl"] .search-grid a i {
  margin-right: 0;
  margin-left: 6px;
}
html[dir="rtl"] .accordion-opposite .accordion-item > .item-content:before {
  right: 8px;
}
html[dir="rtl"] .badge-with-image img {
  margin-right: 0;
  margin-left: 6px;
}
html[dir="rtl"] .badge-with-image {
  padding-right: 0;
  padding-left: 8px;
}
html[dir="rtl"] .checkbox.checkbox-inline {
  margin-right: 0;
  margin-left: 5px;
}
html[dir="rtl"] .card-author-footer .card-footer-middle {
  margin-right: 12px;
}
html[dir="rtl"] .card-author-footer .card-footer-right {
  margin-right: auto;
  margin-left: inherit;
}
html[dir="rtl"] .badge-with-icon {
  padding: 0 6px 0 10px;
}
html[dir="rtl"] .badge-with-icon i {
  margin-right: 0;
  margin-left: 3px;
}
html[dir="rtl"] .card .card-author img {
  margin-right: 0;
  margin-left: 8px;
}
html[dir="rtl"] .detailed-list .item-content {
  padding-left: 0;
}
html[dir="rtl"] .light-gray-title .badge {
  margin-left: 0;
  margin-right: 3px;
}
html[dir="rtl"] .post-horizontal {
  padding: 15px 17px 15px 15px;
}
html[dir="rtl"] .search-grid a:nth-child(odd) {
  margin-left: 10px;
  margin-right: 0;
}
html[dir="rtl"] .search-grid a:nth-child(even) {
  margin-left: 0;
}
html[dir="rtl"] .onboarding-next-button i {
  margin-left: 0;
  margin-right: 5px;
  transform: rotate(180deg);
}
html[dir="rtl"] .segmented.segmented-strong .button {
  color: #fff;
}
html[dir="rtl"] .segmented.segmented-strong .button.tab-link-active {
  color: var(--title-color);
}
html[dir="rtl"] .dark .segmented.segmented-strong .button {
  color: #1e2b47;
}
html[dir="rtl"] .dark .segmented.segmented-strong .button.tab-link-active {
  color: #fff;
}
html[dir="rtl"] .stepper .stepper-input-wrap input {
  padding-right: 0;
}
html[dir="rtl"] .card-big-footer .button i {
  transform: rotate(180deg);
  margin-left: 0;
  margin-right: 5px;
}
html[dir="rtl"] .stock-item img {
  margin-left: 15px;
  margin-right: 0;
}
html[dir="rtl"] .rating-block-total-text {
  margin-left: 0;
  margin-right: 5px;
}
html[dir="rtl"] .panel-links a i {
  margin-left: 15px;
  margin-right: 0;
}
